body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #0c1022;
    color:white;
}
H2 ,legend{color:#00ccff;}
.sub1{
    margin-right: 40%;
    background-color: #0c1022;
    color: #00ccff;
    border: white;
    size: 40px;

}
img{
    float: left;
}
   
